extends layout

include mixins/_storeCard

block content
  .inner
    h2= title
    .stores
      each store in stores
        +storeCard(store)

    //- displaying all the stores on the page:
    //- pre= h.dump(stores)
